.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.discount{
    height:210px ;
    width: 100%;
    border: 2px black;
    border-radius: 10px;
    background-image: url(./ZrNIRQ.webp);
    background-size: 100% 100%;
    
}